<table class="table">
  <tr>
    <td class="text-center" [style.color]="palette.mainColor">Main Color</td>
    <td class="text-center color-hex">{{ palette.mainColor }}</td>
    <td class="text-left">Primary</td>
  </tr>

  <tr>
    <td class="text-center" [style.color]="palette.darkShades">Dark Shades</td>
    <td class="text-center color-hex">{{ palette.darkShades }}</td>
    <td class="text-left">Info</td>
  </tr>

  <tr>
    <td class="text-center" style="color: #4CAF50;">Green</td>
    <td class="text-center color-hex">#4caf50</td>
    <td class="text-left">Success</td>
  </tr>

  <tr>
    <td class="text-center" style="color: #FF9800">Yellow</td>
    <td class="text-center color-hex">#ff9800</td>
    <td class="text-left">Warning</td>
  </tr>

  <tr>
    <td class="text-center" style="color: #F44336">Red</td>
    <td class="text-center color-hex">#f44336</td>
    <td class="text-left">Danger</td>
  </tr>
</table>
