@import "src/assets/styles/variables";

.table {
  width: 100%;
  margin-bottom: 20px;

  &__icon {
    width: 15px;
    height: 15px;
  }

  &__btn {
    margin: 0 5px;
    border: none;
    border-radius: 3px;
    width: 27px;
    height: 27px;
    line-height: 10px;

    &--circle {
      border-radius: 16px;
    }
  }
}

.table-row--border-bottom {
  border-bottom: 1px solid rgba(153, 153, 153, 0.3);
}

.text {
  font-size: $small-font-size;
  font-weight: 300;
  padding: 12px 8px;

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }
}
